@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
.card {
	width: 50%;
	display: block;
	background-color: #333941;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	position: relative;
	min-height: 450px;
	border-radius: 5px;
	margin-bottom: 1rem;
	border: none;
	overflow: hidden;
	color: #0a0a0a;
}
.card-content {
	background: #fff;
	border-top: solid 1px #cdcdcd;
	padding: 5px 20px;
}
.card h3,
.card p {
	font-family: 'Roboto', sans-serif;
}
.card p {
	font-weight: 300;
}